<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    img {
      width: 100%;
    }
  </style>
  <title>Mongo File Uploads</title>
</head>

<body>
  <div class="container" style="max-width: 100vw; margin: 0">
    <div class="row">
      <div class="col-md-6 m-auto" style="flex: 0 0 100%; max-width: 100%;">
        <h1 class="text-center display-4 my-4">DB File Uploads</h1>

        <form action="/upload" method="POST" enctype="multipart/form-data" id='post-img'>
          <input type="password" name="password" id="password" class="form-control" placeholder="password"
            autoComplete="current-password">
          <input type="text" name="collection" id="collection" class="form-control" placeholder="collection"
            autoComplete="collection">
          <div class="custom-file mb-3">
            <input type="file" name="file" id="file" class="custom-file-input">
            <label for="file" class="custom-file-label">Choose File</label>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block" style="margin-top: 20px">
        </form>
        <hr>

        <div class="card-group">

          <% if(files){ %>
          <% files.forEach(function(file) { %>
          <div class="card card-body mb-3" style="min-width: 200px">
            <% if(file.isImage) { %>
            <img src="image/<%= file.filename %>" alt="">
            <% } else { %>
            <a href="/files/<%= file.filename %>" target="_blank"><%= file.filename %></a>
            <% } %>

            <input type="password" autoComplete="current-password" name="password" id="<%= file._id %>"
              class="form-control" placeholder="password">
            <button onclick="onSubmit('<%= file._id %>')" class=" btn btn-danger btn-block mt-4">Delete</button>
          </div>
          <% }) %>
          <% } else { %>
          <p>No files to show</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <script>
    // on submit delete event
    // don't put it into a form because the redirect will not work properly
    const onSubmit = async (id) => {
      // get the value from the input field
      const value = document.getElementById(id).value;
      // set the url
      const url = `/files/${id}:${value}?_method=DELETE`;

      // fetch API
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
        .then(res => {
          console.log("res", res);
          if (res.redirected) {
            window.location.href = res.url;
          } else {
            document.getElementById(id).value = '';
            document.getElementById(id).placeholder = 'unauthorized password';
          }
        })
        .catch(err => {
          console.log("err", err);
        });
    }
  </script>

</body>

</html>